include ../mixins/_helpers
include ../mixins/_view_helpers

- var pageTitle = "!Page Title"
- var htmlClass = ""
- var bodyClass = ""
- var googleFontsUrl = "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700"
block vars

doctype
html.no-js(lang="!en", class="#{htmlClass}", data-l8n="attr/lang:base/language")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title=pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="format-detection", content="telephone=no")
    meta(name="description", content="")
    block headerMeta

    //- link(rel="shortcut icon", href="/static/favicon.ico")
    link(rel="apple-touch-icon", href="static/apple-touch-icon.png")

    +javascriptIncludeTag("modernizr.min")

    <!--[if (lt IE 8) & (!IEMobile)]>
    +stylesheetLinkTag("basic","screen")
    <![endif]-->

    <!--[if IE 8]>
    link(type="text/css", rel="stylesheet", href="#{googleFontsUrl}")/
    +stylesheetLinkTag("ie8","screen")
    <![endif]-->

    //[if gt IE 8]><!
    link(type="text/css", rel="stylesheet", href="#{googleFontsUrl}")/
    +stylesheetLinkTag("modern","screen")
    //<![endif]


    block headerScripts

  body(class="#{bodyClass}")

    <!--[if (IE 8)]>
    p.browserupgrade
      | You are using an
      = " "
      strong outdated
      = " "
      | browser. Please
      = " "
      a(href="http://browsehappy.com/") upgrade your browser
      = " "
      to improve your experience.
    <![endif]-->

    input.nav-trigger#nav-trigger(type="checkbox" aria-hidden="true")

    .js-modal.js-hidden.js-close-target
      .js-modal-container
        .js-modal-dismiss
          a.js-close.clj-modal-close-anchor(href='#')
            span(data-l8n="content:footer/modal-dismiss") !Close
            =" "
            i.fa.fa-times

    .app-wrapper
      block pageHeader
        header#top(role="banner")
          .header-content
            +mastheadSignedOut
            +statusBar

      block guidance

      #main-content(role="main" tabindex="-1").main-content
        block content

      block pageFooter
        footer
          .footer-container
            .footer
              a.footer-link(href="http://dcentproject.eu/") Part of the DCENT project

    +javascriptIncludeTag("scripts.min")
    block footerScripts
